{{ define "main" }}
    <article>
        <p>
            Hi, I'm <strong>Leandro</strong>
            my friends also know me as <strong>Leo</strong>.
            Cuban former olympic gymnast who has been programming for over seven years.
        </p>
        <p>
            My goal with this blog is to sharing my thoughts and issues found on my day by day as a programmer.
            Expect meaningful and short posts that will make you think.
        </p>
        <hr>

{{/*        <h3>Latest posts</h3>*/}}
{{/*        {{$posts := ($.Site.GetPage "section" "post").Pages.ByPublishDate.Reverse}}*/}}
{{/*        {{ range first 2 $posts }}*/}}
{{/*            {{ partial "page_list_section.html" . }}*/}}
{{/*        {{ end }}*/}}
    </article>
{{ end }}